---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.astro';
import SectionHello from '../components/SectionHello.astro';
import SectionIntro from '../components/SectionIntro.astro';
import SectionAbout from '../components/SectionAbout.astro';
import SectionClients from '../components/SectionClients.astro';
import SectionPortfolio1 from '../components/SectionPortfolio1.astro';
import SectionPortfolio2 from '../components/SectionPortfolio2.astro';
import SectionContact from '../components/SectionContact.astro';
---

<Layout title="Mirkolab">
    <Navigation />
    <main>
        <SectionHello />
        <SectionIntro />
        <SectionAbout />
        <SectionClients />
        <SectionPortfolio1 />
        <SectionPortfolio2 />
        <SectionContact />
    </main>
</Layout>