<nav class="side">
    <div class="side__inner">
        <div class="top"><a href="#">MIRKOLAB</a></div>
        <div class="bottom">
            <a href="https://github.com/chircami" target="_blank" rel="noopener noreferrer">GITHUB</a>
            <a href="https://es.linkedin.com/in/mirkozedde" target="_blank" rel="noopener noreferrer">LINKEDIN</a>
            <a href="mailto:mirko.zedde@gmail.com">EMAIL ME</a>
        </div>
    </div>
</nav>