<section class="section section--contact" id="contact">
    <div class="section__inner">
        <div class="block">
            <a class="pre" href="#contact"><span>#5</span>Get in touch</a>
            <h2>For work inquiries<br>please email:<br>
                <span><a href="mailto:mirko.zedde@gmail.com">mirko.zedde@gmail.com</a></span>
            </h2>
            <p class="lead">More links: <a href="https://github.com/chircami" target="_blank" rel="noopener noreferrer">GitHub</a>, <a href="https://es.linkedin.com/in/mirkozedde" target="_blank" rel="noopener noreferrer">LinkedIn</a> and <a href="https://chircami.github.io/Portfolio/" target="_blank" rel="noopener noreferrer">Mirkolab</a>.</p>
        </div>
    </div>
</section>