<section class="section section--clients" id="clients">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 10" preserveAspectRatio="none">
        <polygon points="100 10 0 0 0 10" />
    </svg>

    <div class="section__inner">
        <div class="block">
            <a class="pre" href="#clients"><span>#3</span>Clients</a>
            <h2>Mirko works with corporations, institutions and startups in a wide range of industries.</h2>
            <p class="lead">Here are some of his clients, he has had the pleasure working with:</p>
            <p class="lead"><a href="https://albertopalatchi.com/" class="link" target="_blank" rel="noopener noreferrer">· Alberto Palatchi</a></p>
            <p class="lead"><a href="https://naturmetica.com/" class="link" target="_blank" rel="noopener noreferrer">· Naturmetica</a></p>
            <p class="lead"><a href="https://lastazionepizzeria.es/" class="link" target="_blank" rel="noopener noreferrer">· Pizzeria La Stazione</a></p>
            <p class="lead"><a href="https://origanopizzerie.com/" class="link" target="_blank" rel="noopener noreferrer">· Pizzeria Origano</a></p>
            <p class="lead"><a href="https://www.sardegnavventura.com/" class="link" target="_blank" rel="noopener noreferrer">· Sardegna Avventura</a></p>
            <p class="lead"><a href="https://www.tucasa.pl/" class="link" target="_blank" rel="noopener noreferrer">· Tu Casa</a></p>     
        </div>
    </div>
</section>