<section class="section section--portfolio" id="portfolio2">
    <div class="section__inner">
        <div class="block">
            <h2>Portfolio Item #2</h2>
            <p>These are some of the projects I have developed:</p>
            <p class="lead"><a href="https://chircami.github.io/Calculator/" class="link" target="_blank" rel="noopener noreferrer">· Calculator</a></p>
            <p class="lead"><a href="https://chircami.github.io/Mirkochat/" class="link" target="_blank" rel="noopener noreferrer">· MirkoChat</a></p>
        </div>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 102" preserveAspectRatio="none" class="bottom">
        <path d="M0 0 L50 100 L100 0 Z"></path>
    </svg>
</section>