<section class="section section--hello" id="hello">
    <div class="section__inner">
        <div class="block">
            <a class="pre" href="#intro"><span>#0</span>Hello</a>
            <h2>Hello</h2>
            <ul class="anchornav">
                <li><a href="#intro">Intro <span>#1 What is going on?</span></a></li>
                <li><a href="#about">About <span>#2 Who is this guy?</span></a></li>
                <li><a href="#clients">Clients <span>#3 Who did he work for?</span></a></li>
                <li><a href="#portfolio">Portfolio <span>#4 What did he do?</span></a></li>
                <li><a href="#contact">Contact <span>#5 Write him a message</span></a></li>
            </ul>
        </div>
    </div>
</section>