<section class="section section--about" id="about">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 10" preserveAspectRatio="none">
        <polygon points="100 0 100 10 0 10" />
    </svg>

    <div class="section__inner">
        <div class="block">
            <a class="pre" href="#about"><span>#2</span>Building</a>
            <h2>Mirko works for companies and agencies, creating responsive web applications.</h2>
            <p class="lead">Building the right foundation to ongoing optimization and support. In short, he tries to make the web a better place.</p>
        </div>
    </div>
</section>