<section class="section section--intro" id="intro">
    <div class="section__inner">
        <div class="block">
            <a class="pre" href="#intro"><span>#1</span>Intro</a>
            <h1>MirkoLab is a<br>
                Web Developer<br>
                based in Barcelona<br>
                Spain.</h1>
            <p class="lead">
                See small bits of his design work on <a href="https://github.com/chircami" class="link" target="_blank" rel="noopener noreferrer">GitHub</a>, quick thoughts on <a href="https://instagram.com/mirko.lab" class="link" target="_blank" rel="noopener noreferrer">Instagram</a>, and a full resume on <a href="https://es.linkedin.com/in/mirkozedde" class="link" target="_blank" rel="noopener noreferrer">Linkedin</a>.
            </p>
        </div>
    </div>
</section>