<section class="section section--portfolio1" id="portfolio">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
        <path d="M0 100 C 20 0 50 0 100 100 Z"></path>
    </svg>

    <div class="section__inner">
        <div class="block">
            <a class="pre" href="#portfolio"><span>#4</span>Portfolio</a>
            <h2>Portfolio Item #1</h2>
            <p class="lead">These are some of the projects I have developed:</p>
            <p class="lead"><a href="https://chircami.github.io/Trunk_show/" class="link" target="_blank" rel="noopener noreferrer">· App for sending mass personalised contracts</a></p>
        </div>
    </div>
</section>