---
import '../styles/global.css';
const { title = "Mirkolab" } = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="Portfolio de Mirko Zedde - Desarrollador Web">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/svg+xml" href="/favicon.svg">
  <meta name="generator" content={Astro.generator}>
  <title>{title}</title>
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  
  <script is:inline src="https://use.typekit.net/ehh4lya.js"></script>
  <script is:inline>
    try {
      Typekit.load({ async: true });
    } catch (e) {}
  </script>
</head>
<body>
  <slot />
  <script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</body>
</html>
